<div class="main">
  <div class="title">
    <h1>About Me</h1>
  </div>
  <div class="description">
    <p>
      I have worked on designing and analyzing pet products as an engineer for over twenty
      years. I also assited in writing patents and analyzing patents for pet products.  I have
      a BS in electrical engineering and a MS in physics.
    </p>
    <p>
      In addition, I have been a life long cat owner.  I have owned one pure-breed cat, an American
      Bobtail.  She would take walks with me along the beach at night.  In addition, she was
      fearless.  If a dog wandered into my yard, she would demand to go outside and confront the dog.
      She was also incredibly loving without being needy
    </p>
  </div>
</div>
