@import 'sharebuttons';

.article {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 24px;
}

.article__top {
  background-color: #feffcf;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.article__article {
  align-self: stretch;
  background-color: #faf6f6;
  margin-top: 15px;
  // max-width: 32em;
  padding: 10px;
  border-radius: 20px;
  column-width: 20em;
  column-gap: 2em;

  div {
    line-height: 1.8;
  }
}

.scroll_buttons {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8em;

  .scroll_bottom {

    .btn {
      background-color: #e4e4e4;
      border: 1px solid #9555af;

      &:hover,
      &:focus {
        color: #9555af;
        cursor: pointer;
      }
    }
  }

  .scroll_top {
    margin-right: 10px;

    .btn {
      background-color: #e4e4e4;
      border: 1px solid #9555af;

      &:hover,
      &:focus {
        color: #9555af;
        cursor: pointer;
      }
    }
  }
}
