.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 5px;
}

.website {
  border-bottom: 1px solid #cbcbcb;
  display: flex;
  flex: 1;
  flex-flow: column wrap;
  margin-left: 50px;
}

.buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  a {
    color: black;
    text-decoration: none;
    margin-right: 25px;

    &:hover {
      color: #bb87ff;
    }
  }
}

.search__feedback {
  padding: 0 1em;
}

.feedback {
  margin-right: 10px;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      color: #bb87ff;
    }
  }
}

.links {
  background-color: blue;
  margin-right: 10px;
}

.logo {
  position: relative;
  display: flex;
  margin-left: 10px;
  padding: 0;
  // padding-bottom: 56.25%;
  // overflow: hidden;
  text-align: center;
  // flex: 0.45 1;

  a {
    .logo__cat {
      width: 6em;
      background-image: url("/packs/media/images/header/cat-89b4ce7373715a13d908045ab7e67482.png");
      background-size: cover;
      height: 100%;
    }
  }
}

.slogan {
  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 2.4rem;

    &:hover {
      color: #bb87ff;
    }
  }
}
