@import 'blog_card.scss';

.index {
  display: flex;
  // align-items: center;
  // justify-content: center;
}

.index__articles {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
}

.index__article {
  background-size: cover;
  flex: 1;
  height: 100%;
  flex-basis: 33%;
}
